body {
    background-color: aquamarine;
    font-family: gaegu;
}

h1 {
    color: goldenrod;
}

h2 {
    color: grey
}

h3 {
    color: blue;
}

#profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 110px;
    border: black solid 10px;
}