body {
  background-image: linear-gradient(white, orange) !important;
  background-color: white;
  font-family: gaegu;
  color: white;
}

.container {
  margin: 0, auto;
  /* background-color: aqua; */
}

.flex-container {
  display: flex;
  justify-content:space-around;
}

.header-left-column {
  /* background-color: pink; */
  width: 70%;
}

.header-right-column {
  /* background-color: slateblue; */
  width: 30%;
  text-align: right;
  padding-right: 4%;
  padding-top: 5%;
}

#profile-picture {
  width: 75%;
  height: 70%;
  border-radius: 50%;
  border: rgb(201, 44, 68) solid 8px !important;
  border: red dashed 10px;
  margin-top: 3%;
}
